/*
    - This was created by GhostWeb Design company
    - All rights reserved.
*/

/*
    - At first import all the required fonts here
*/
/* Import font for the company-name */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
    - End of importing the fonts
*/


/*
    - Start the main styles.
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {

    /* I added this only for testing something,
        And It will be deleted soon!!!
    */
    height: 150vh;
}
:root {
    /* Put all the most-common used colors here */
    --black-background: #252627;
    --black-background-2: #1F1E28;
    --black-color: red;
    
    --white-background: #fff;
    --white-background-2: #f8fafb;
    --white-color: #f8fafb;

    /* these are the colors we choosed */
    --dark-mode-background: #0d0e22;
    --light-mode-background: #eee;
    --main-color: #8184f9;
    --darker-main-color: #676be6;
}
/* Dark mode and light mode */
/* NOTE: this will be apply only for the <body> element by javascript */
.dark {
    /* background-color: var(--black-background);  */
    background-color: var(--black-background-2); 
    color: #fff;
    color: var(--white-color);
}
.light {
    background-color: var(--white-background-2);
    color: initial;
}
.container {
    width: 80%;
    margin: auto;
}
/*
    - End of the main styles.
*/










/*
    - Start styling the header 
*/
.header {
    width: 100%;
    height: 6rem;
    background-color: brown;
    color: var(--white-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header a {
    text-decoration: none;
    color: inherit;
}
.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2rem ;
    text-shadow: 0 0 3px 0 inherit;
}

.mobile-nav {
    display: none;
}




.img-wrapper {
    width: 100%;
    height: 100vh;
    /* For test only */
    background-color: #dcdcdc;
}

/*
    - End styling the header 
*/







/*
    - Styles for the sections
*/
/*
    - Styles for about-us section
*/
.about {
    height: 100vh;
}
.about .container {
    display: flex;
}
.about .container div {
    width: 50%;
    height: 100vh;
    padding: 15px;
}
.about span.center {
    height: 100vh;
    width: 5px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.about span.center span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--darker-main-color);
}





/*
    - End Styles for about-us section
*/



/*
    - End Styles for the sections
*/















/* 
    - Styles for the footer 
*/ 


/* 
    - End Styles for the footer 
*/ 













/*
    - Put all the required code for responsive design here
*/
@media (min-width: 320px) and (max-width: 767px) {
    .header {
        height: 5rem;
    }
    .logo {
        font-size: 1rem;
        margin: 0 1rem;

    }
    .nav-bar {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .container {
        width: 100%;
    }
}
/*
    - End of responsive
*/





/*
    - End of styling
*/

/* test */
