/*
    - This was created by GhostWeb Design company
    - All rights reserved.
*/

/*
    - At first import all the required fonts here
*/
/* Import font for the company-name */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
    - End of importing the fonts
*/


/*
    - Start the main styles.
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {

    /* I added this only for testing something,
        And It will be deleted soon!!!
    */
    height: 150vh;
}
:root {
    /* Put all the most-common used colors here */
    --black-background: #252627;
    --black-background-2: #1F1E28;
    --black-color: red;
    
    --white-background: #fff;
    --white-background-2: #f8fafb;
    --white-color: #f8fafb;
    --white-color-lighter: #E4E4E4;



}
/* Dark mode and light mode */
/* NOTE: this will be apply only for the <body> element by javascript */
.dark {
    /* background-color: var(--black-background);  */
    background-color: var(--black-background-2); 
    color: #fff;
    color: var(--white-color);
}
.light {
    background-color: var(--white-background-2);
    color: initial;
}
/*
    - End of the main styles.
*/










/*
    - Start styling the header 
*/
.header {
    width: 100%;
    height: 6rem;
    /* background-color: brown; */
    color: var(--white-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2));

}
.header a {
    text-decoration: none;
    color: inherit;
}
.nav-bar a {
    margin: 0 1rem;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 0.6rem;
    background-color: transparent;
    transition: 0.4s;
}
.nav-bar a:hover {
    border: 1px solid rgba(238, 238, 238, 0.708);
    background-color: rgba(255, 255, 255, 0.3);
}
.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    /* text-shadow: 1px 1px 1px; */
    text-shadow: 0 1px 2px;
}

.mobile-nav {
    display: none;
}
.mobile-nav a {
    border-radius: 8px;
    padding: 0.6rem;
    background-color: transparent;

    transition: 0.3s;

}
.mobile-nav a:hover {
    border: 1px solid rgba(238, 238, 238, 0.708);
    background-color: rgba(255, 255, 255, 0.2);
}
.img-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);

    box-shadow: 0 2px 8px #022;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.65; */
    opacity: 0.45;
    filter: grayscale(50%);

    animation:                  scale 15s infinite forwards linear alternate;
    -webkit-animation:          scale 15s infinite forwards linear alternate;
    -moz-animation:             scale 15s infinite forwards linear alternate;
    -o-animation:               scale 15s infinite forwards linear alternate;
    -ms-animation:              scale 15s infinite forwards linear alternate;
}
@keyframes scale {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.banner {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner h1 {
    /* font-family: ; */
    /* width: 100%; */
    text-align: center;
    color: var(--white-color);
    color: var(--white-color-lighter);
    font-size: 2rem;
}


/*
    - End styling the header 
*/







/*
    - Styles for the sections
*/





/*
    - End Styles for the sections
*/















/* 
    - Styles for the footer 
*/ 


/* 
    - End Styles for the footer 
*/ 













/*
    - Put all the required code for responsive design here
*/
@media (min-width: 320px) and (max-width: 767px) {
    .header {
        height: 5rem;
    }
    .logo {
        font-size: 1rem;
        margin: 0 1rem;

    }
    .nav-bar {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .banner h1 {
    font-size: 1.3rem;

    }
}
/*
    - End of responsive
*/





/*
    - End of styling
*/